{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>

    <turbo-frame id="add_comment">
        {{ include('commentaire/_form.html.twig') }}
    </turbo-frame>

{% endblock %}
